body {
    padding-top: 30px;

    background-color: rgb(63, 63, 63);
    background-image: url(./img/kosmos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* /////////////////////////////////////////////////--------КОНОПКА--------////////////////////////////////////// */

.link-thumb {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.link-btn {
    position: relative;

    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 10px 20px;
    

    background-color: rgb(39, 39, 212);
    color: #fff;
    border-radius: 5px;

    overflow: hidden;

    text-decoration: none;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-btn:hover,
.link-btn:focus {
    background-color: rgb(10, 25, 246);
}

.link-btn::after {
    content: "";

    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;

    background-image: url(./img/iconsvg.svg);
    background-size: contain;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-btn:hover::after {
    transform: translateY(-40px);
}

.link-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    
    display: inline-block;
    width: 24px;
    height: 24px;

    background-image: url(./img/iconsvg.svg);
    background-size: contain;

    /* что бы отодвинуть вниз! */
    /* + если будет позиционироваться криво */
    transform: translateY(calc(-50% + 50px));
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link-btn:hover::before {
    transform: translateY(-50%);
}

/* Бефор и автер можно оптимизировать */
/* сделать 2 селектора и закинуть туда одинаковые свойства которые есть у обоих!!! */
.link-btn::after,
.link-btn::before {

}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* ////////////////////////////////////////---------ПЕРСПЕКТИВА-ФЛИП----------/////////////////////////////////////////// */

.scene {
    width: 600px;
    height: 400px;
    perspective: 600px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card__face--front {
    background: rgb(2, 2, 2);

    background-image: url(./img/smile-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card__face--back {
    background: rgb(0, 0, 0);
    transform: rotateY(180deg);

    background-image: url(./img/smile-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.scene:hover .card {
    transform: rotateY(180deg);
}



.text-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;

    margin-top: 0;

    color: rgb(14, 255, 22);
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////--------------СВИНКА-------------////////////////////////////////////////// */

.pig {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
    margin-left: 50px;

    position: absolute;
    top: 100px;
    left: 100px;

    background-image: url(./img/pig-pig.png);
    background-size: contain;
    background-repeat: no-repeat;

    /* animation-name: svinina;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-delay: 100ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running; */

    animation: svinina 3000ms linear 100ms infinite alternate none running,
    svin 5s linear 0s infinite;
}

.pig:hover {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes svinina {
    0% {
        left: 0%;
    }
    100% {
        left: 200px;
    }
}

@keyframes svin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}